@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 229 231 235;
    --color-foreground: 107 114 128;
    --color-primary: 51 65 85;
    --color-secondary: 17 24 39;
    --color-tertiary: 15 23 42;
    --color-success: 21 94 117;
    --color-danger: 112 26 117;
  }

  :root[data-theme="light"] {
    --color-background: 229 231 235;
    --color-foreground: 107 114 128;
    --color-primary: 51 65 85;
    --color-secondary: 37 42 52;
    --color-tertiary: 15 23 42;
    --color-success: 21 94 117;
    --color-danger: 112 26 117;
  }

  :root[data-theme="dark"] {
    --color-background: 30 41 59;
    --color-foreground: 17 24 39;
    --color-primary: 148 163 184;
    --color-secondary: 17 24 39;
    --color-tertiary: 255 240 240;
    --color-success: 21 94 117;
    --color-danger: 112 26 117;
  }
}
